@import "./_variables.scss";

.button {
    cursor: pointer;
    color: white;
    background-color: $primaire;
    border: 2px solid white;
    box-shadow: 3px 4px 7px $secondaire;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 8px 10px 6px 10px;

    &:active {
        background-color: #091f43b6;
        border: 2px solid $primaire;
    }

    i {
        font-size: 1.2em;
    }
}

.delete,
.edit,
.heart,
.comment__icon,
.add__post__button,
.add__post__cancel,
.add__comment__button,
.add__comment__cancel {
    border-radius: 50px;
}

.edit {
    padding-right: 7px;
    margin-left: 5px;
}

.heart {
    padding-top: 10px;
}

.add__post__cancel {
    font-size: 1em;
    padding-left: 12px;
    padding-right: 12px;
}

.arrow_up {
    border-radius: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.button__submit__comment {
    margin-top: 10px;
    margin-bottom: 20px;
}

@media screen and (max-width: 1200px) {

    .delete,
    .edit,
    .heart,
    .comment__icon {
        font-size: 12px;
    }

    .heart {
        padding: 6px 8px 4px 8px;
    }

    .comment__icon {
        height: 35px;
        padding: 4px 8px 4px 8px;
    }
}